<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotScramble.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotScramble.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HotScramble.Properties.Settings>
            <setting name="RomPath" serializeAs="String">
                <value>C:\ROMS\NES</value>
            </setting>
            <setting name="RomFilter" serializeAs="String">
                <value>*.NES</value>
            </setting>
            <setting name="EmuPath" serializeAs="String">
                <value>C:\Emulator\FCEUX\fceux.exe</value>
            </setting>
            <setting name="Parameters" serializeAs="String">
                <value>%rom</value>
            </setting>
            <setting name="KillKey" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="NextKey" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="PrevKey" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="NextPageKey" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="PrevPageKey" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="SelectKey" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="QuitKey" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="CyclePageKey" serializeAs="String">
                <value>Tab</value>
            </setting>
            <setting name="NextGamePad" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="PrevGamePad" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="NextPageGamepad" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="PrevPageGamepad" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KillGamepadCombo" serializeAs="String">
                <value>1,2,8,9</value>
            </setting>
            <setting name="SelectGamepadCombo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QuitGamepadCombo" serializeAs="String">
                <value>8,9</value>
            </setting>
            <setting name="CyclePageGamepadCombo" serializeAs="String">
                <value>8</value>
            </setting>
        </HotScramble.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <HotScramble.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>900</value>
            </setting>
        </HotScramble.Properties.Settings>
    </userSettings>
</configuration>